<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/styles.css" />
		<title>Pokedex</title>
	</head>
	<body class="bg-gray-200">
		<div class="flex flex-col justify-between mx-auto max-w-md bg-gray-100 h-screen">{{{body}}}</div>
	</body>
</html>
